Repository aws/amazon-freertos, pull requests merged in 2019-06, with the labels that each got.

#600 Add proof statement for existing CBMC harnesses
  tools/cbmc/proofs/ARP/ARPAgeCache/README.md
  tools/cbmc/proofs/ARP/ARPGenerateRequestPacket/README.md
  tools/cbmc/proofs/ARP/ARPSendGratuitous/Makefile.json
  tools/cbmc/proofs/ARP/ARPSendGratuitous/README.md
  tools/cbmc/proofs/ARP/ARPSendGratuitous/cbmc-batch.yaml
Labels: CBMC Proof

#602 Add CBMC harnesses for non default functions
  tools/cbmc/proofs/ARP/ARPGetCacheEntryByMac/ARPGetCacheEntryByMac_harness.c
  tools/cbmc/proofs/ARP/ARPGetCacheEntryByMac/Makefile.json
  tools/cbmc/proofs/ARP/ARPGetCacheEntryByMac/README.md
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_PrintARPCache/FreeRTOS_PrintARPCache_harness.c
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_PrintARPCache/Makefile.json
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_PrintARPCache/README.md
Labels: CBMC Proof

#781 Make CBMC proofs follow release-1.5 directory layout
  tools/cbmc/patches/0001-Remove-static-storage-class-from-entry-points.patch
  tools/cbmc/patches/0002-Change-FreeRTOS_IP_Private.h-union-to-struct.patch
  tools/cbmc/patches/0003-Replace-MiniListItem_t-with-ListItem_t.patch
  tools/cbmc/patches/0004-Refactor-prvCheckOptions-make-functions-of-inner-and.patch
  tools/cbmc/patches/patches_constants.py
  tools/cbmc/proofs/ARP/ARPAgeCache/Makefile.json
  tools/cbmc/proofs/ARP/ARPGenerateRequestPacket/Makefile.json
  tools/cbmc/proofs/ARP/ARPGetCacheEntry/Makefile.json
  tools/cbmc/proofs/ARP/ARPGetCacheEntryByMac/Makefile.json
  tools/cbmc/proofs/ARP/ARPProcessPacket/Makefile.json
  tools/cbmc/proofs/ARP/ARPRefreshCacheEntry/Makefile.json
  tools/cbmc/proofs/ARP/ARPSendGratuitous/Makefile.json
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_ClearARP/Makefile.json
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_OutputARPRequest/Makefile.json
  tools/cbmc/proofs/ARP/ARP_FreeRTOS_PrintARPCache/Makefile.json
  tools/cbmc/proofs/CheckOptions/Makefile.json
  tools/cbmc/proofs/CheckOptionsInner/Makefile.json
  tools/cbmc/proofs/CheckOptionsOuter/Makefile.json
  tools/cbmc/proofs/DNS/DNSHandlePacket/Makefile.json
  tools/cbmc/proofs/DNS/DNSclear/Makefile.json
  tools/cbmc/proofs/Makefile.template
  tools/cbmc/proofs/MakefileCommon.json
  tools/cbmc/proofs/ParseDNSReply/Makefile.json
  tools/cbmc/proofs/ProcessDHCPReplies/Makefile.json
  tools/cbmc/proofs/ReadNameField/Makefile.json
  tools/cbmc/proofs/SkipNameField/Makefile.json
Labels: CBMC Infrastructure

#833 Add configPRECONDITION to FreeRTOS.h
  freertos_kernel/include/FreeRTOS.h
  tools/cbmc/proofs/MakefileCommon.json
Labels: CBMC Infrastructure

#824 Change CBMC include path to absolute
  tools/cbmc/proofs/MakefileCommon.json
Labels: CBMC Infrastructure

#825 Fix error with Delta Callback Registration
  libraries/c_sdk/aws/shadow/src/aws_shadow.c
Labels: Type: Bug

#843 Update compute_patch.py to pick up MakefileCommon.json
  tools/cbmc/patches/compute_patch.py
Labels: CBMC Infrastructure
